tqdm==4.62.0
pyyaml==5.4.1
matplotlib==3.4.2
requests==2.25.1
scikit-image==0.19.1
anytree==2.8.0
regex==2021.8.3
boto3==1.20.37
pytorch-transformers==1.0.0
fvcore==0.1.5.post20211023
pycocotools==2.0.3